!src/ontology/tmp/README.md
.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
/ontology-release-runner.log
bin/
fypo_edit.obo
oort.tmp
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/fypo-base.*
src/ontology/fypo-basic.*
src/ontology/fypo-edit-release.owl
src/ontology/fypo-edit-test.owl
src/ontology/fypo-full.*
src/ontology/fypo-simple-non-classified.*
src/ontology/fypo-simple.*
src/ontology/fypo.json
src/ontology/fypo.obo
src/ontology/fypo.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-fypo-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
src/templates/bulk_synonyms.owl
src/ontology/diff.txt

# Files that are too big
fypo-full.owl
fypo-non-classified.owl
fypo.owl
