/ontology-release-runner.log
oort.tmp
.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/fypo-edit-release.owl
src/ontology/fypo.owl
src/ontology/fypo.obo
src/ontology/fypo.json
src/ontology/fypo-base.*
src/ontology/fypo-basic.*
src/ontology/fypo-full.*
src/ontology/fypo-simple.*
src/ontology/fypo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/fypo-edit-test.owl
fypo_edit.obo
src/ontology/tmp/*